/* Global/Utility Style */
@import "./utility/cores.css";
@import "./global/global.css";
@import "./utility/componentes.css";
@import "./global/header.css";

/* Home Style */
@import "./home/intro.css";
@import "./home/bikes_list.css";
@import "./home/technologies.css";