/* Global/Utility Style */
@import "./utility/cores.css";
@import "./global/global.css";
@import "./utility/componentes.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Home Style */
@import "./home/intro.css";
@import "./home/bikes_list.css";
@import "./home/technologies.css";
@import "./home/partners.css";
@import "./home/testimony.css";
@import "./home/insurance.css";

/* Terms Style */
@import "./terms/terms.css";