.terms {
    background: var(--c-11);
    padding: 4rem 0;
}

.terms_content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.terms_content h2 {
    font-size: 1.5rem;
    line-height: 1.33;
    color: var(--c-11);
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.terms_content p+h2 {
    margin-top: 2.5rem;
}

.terms_content p {
    font-size: 1.125rem;
    line-height: 1.33;
    font-weight: 500;
    color: var(--c-10);
    max-width: 75ch;
    margin-bottom: 1.5rem;
}