.footer {
    background: var(--c-12);
    padding: 4rem 1.25rem 2rem 1.25rem;
}


.footer_content.container {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    gap: 2.5rem;
}

.footer_content h3 {
    font-size: 1.5rem;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--c-0);
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer_content li {
    font-size: 1.125rem;
    line-height: 1.33;
    color: var(--c-5);
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.footer_content li:hover {
    color: white;
}

.footer_contact ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: 2rem;
}

.footer_contact ul li:nth-child(even)::after {
    content: '';
    display: block;
    max-width: 360px;
    height: 2px;
    background: var(--c-11);
    margin-top: 1rem;
}

.footer_social {
    display: flex;
    gap: 2rem;
}

.footer_info ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer_info ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.footer p {
    padding-top: 4rem;
    font-size: 1.125rem;
    line-height: 1.33;
    color: var(--c-6);
    font-weight: 400;
}

@media (max-width:800px) {
    .footer picture {
        display: none;
    }


}

@media (max-width: 600px) {
    .footer_content.container {
        gap: 1.5rem;
    }

    .footer_content h3 {
        margin-bottom: 1rem;
    }

    .footer_content.container {
        grid-template-columns: 1fr;
    }

    .footer_contact ul {
        gap: 1rem;
    }

    .footer_social {
        gap: 1rem;
    }
}