.header {
    background: var(--c-12);
}

.header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-items: center;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.header a {
    position: relative;
    font-size: 1.125rem;
    color: var(--c-0);
    font-weight: 400;
}

.header a::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background: var(--c-0);
    margin-top: 4px;
    transition: .3s;
}

.header a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {

    .header ul {
        gap: 1.25rem;
    }

    .header a {
        background: var(--c-11);
        border-radius: 4px;
        padding: 0.75rem 1rem;
    }

    .header a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 1.25rem;
    }

    .header ul {
        gap: 0.75rem;
    }

    .header a {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }

}