.header {
    background: var(--c-12);
    padding: 2rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 1.25rem;
}

.header a {
    font-size: 1.125rem;
    color: var(--c-0);
    padding: 1.25rem;
}