.insurance {
    background: var(--c-11);
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.insurance .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.insurance h2 {
    grid-column: 1/-1;
}

.insurance_card {
    background: var(--c-12);
    padding: 2rem 2rem 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 4px;
}

.card_content h3 {
    font-size: 2.25rem;
    text-transform: uppercase;
    line-height: 1.33;
    font-weight: 600;
    grid-column: 1;
    margin-bottom: 1.25rem;
}

.card_silver .card_content h3 {
    color: var(--c-6);
}

.card_gold .card_content h3 {
    color: var(--c-p1);
}


.card_content ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2rem;
}

.card_content li {
    font-size: 1.125rem;
    line-height: 1.33;
    color: var(--c-0);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
}

.card_content li::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 9px;
    background: url("../../img/icones/lista.svg");
    background-position: center;
    left: -21px;
}

.card_price span {
    display: block;
    font-size: 2.25rem;
    line-height: 1.33;
    color: var(--c-0);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: right;
}

.card_price span>span {
    color: var(--c-6);
    font-size: 0.75rem;
    line-height: 1.33;
}

@media (max-width: 800px) {
    .insurance .container {
        grid-template-columns: 1fr;
    }

    .card_content h3 {
        font-size: 1.5rem;
    }

    .card_price span {
        font-size: 1.5rem;
    }

    .insurance_card .bnt {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .card_content li {
        font-size: 1rem;
    }
}