body {
  color: var(--c-0);
}

.intro {
  background: var(--c-12);
  box-shadow: inset 0 -120px var(--c-0);
}

.intro .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7.5rem;
}

.intro_content {
  align-self: end;
  padding-bottom: 12.5rem;
}

.intro_content p {
  margin: 1.25rem 0;
}

@media (max-width:1200px) {
  .intro_content h1 {
    font-size: 3rem;
  }

  .intro_content p {
    font-size: 1.125rem;
  }
}

@media (max-width:800px) {
  .intro {
    background: var(--c-11);
    box-shadow: inset 0 -60px var(--c-0);
  }

  .intro .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .intro_content {
    padding-bottom: 0;
  }

  .intro_content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .intro picture img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width:600px) {
  .intro_content .bnt {
    padding: 0.75em 1rem;
    font-size: 1rem;
  }
}