.technologies {
  background: var(--c-11);
  box-shadow: inset 0 80px var(--c-0), inset 0 -80px var(--c-0);
}

.technologies .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
}

.technologies picture {
  height: 100%;
}

.technologies picture img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.technologies_content {
  padding: 10rem 0;
}

.technologies_content>span {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--c-5);
  display: block;
}

.technologies_content h2 {
  margin: 1.25rem 0 2rem 0;
}


.technologies_content a {
  font-size: 1.5rem;
  color: var(--c-p1);
  text-transform: uppercase;
  margin: 1.25rem 0 5rem 0;
  transition: .25s;
}

.technologies_content a::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.technologies_content a:hover {
  color: var(--c-0);
}

.technologies_content ul {
  display: flex;
  gap: 0 2rem;
}

.technologies_content ul h3 {
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 500;
  margin: 0.5rem 0;
}

.technologies_content ul .text {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 800px) {

  .technologies {
    box-shadow: initial;
  }

  .technologies .container {
    grid-template-columns: 1fr;
  }

  .technologies picture {
    height: auto;
  }

  .technologies picture img {
    display: none;
  }

  .technologies_content {
    padding: 3.75rem 0;
  }

  .technologies_content a {
    margin-bottom: 2.5rem;
  }
}