.testimony {
  background: var(--c-p1);
}

.testimony .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.testimony picture img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.testimony_content {
  font-size: 2.25rem;
  line-height: 1.33;
  align-self: end;
  padding: 2.25rem 2.25rem 5rem 5rem;
}

.testimony_content p {
  position: relative;
  max-width: 32ch;
  color: var(--c-p5);
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  padding-bottom: 1.75rem;
}

.testimony_content p::before,
.testimony_content p::after {
  font-size: 5rem;
  color: var(--c-p2);
  position: absolute;
}

.testimony_content p::before {
  content: "“";
  left: -50px;
  top: -20px;
}

.testimony_content p::after {
  content: "”";
}

.testimony_content span {
  color: var(--c-p4);
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  .testimony_content {
    font-size: 1.75rem;
  }
}

@media (max-width: 800px) {

  .testimony picture img {
    display: none;
  }

  .testimony .container {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }

  .testimony_content p {
    padding-bottom: 1rem;
  }

  .testimony_content p::before,
  .testimony_content p::after {
    display: none;
  }

  .testimony_content {
    padding: 1.25rem 1.125rem;
  }
}