.container {
  max-width: 1200px;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.title {
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 600;
}

.dot {
  color: var(--c-p1);
}

.text {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--c-5);
  font-weight: 400;
}

.bnt {
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 600;
  background: linear-gradient(#ffbb00, #f2a60c);
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: var(--c-p5);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.bnt:hover {
  color: var(--c-p4);
  background: linear-gradient(#ffb60d, #e59317);
}

.bnt.second {
  color: var(--c-4);
  background: var(--c-10);
}

.bnt.second:hover {
  background: var(--c-9);
}

.span_dec {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--c-5);
  display: block;
}

@media (max-width: 1200px) {
  .text {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width:600px) {
  .bnt {
    padding: 0.75em 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .span_dec {
    font-size: 1.25rem;
  }
}