.container {
  max-width: 1200px;
  padding: 1.5rem;
  margin: 0 auto;
}

.bnt {
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 600;
  background: linear-gradient(#ffbb00, #f2a60c);
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: var(--c-p5);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.bnt:hover {
  color: var(--c-p4);
  background: linear-gradient(#ffb60d, #e59317);
}

.dot {
  color: var(--c-p1);
}